## Libraries

In [21]:
# Libraries
import sys
import pandas as pd
import os
import numpy as np
import pickle
import networkx as nx
import pyperclip
import ast

import win32clipboard

## Directory

In [2]:
code_dir = os.getcwd()

def parent_dir(dir, n: int):
    if n > 0: return parent_dir(os.path.abspath(os.path.join(dir, os.pardir)), n-1)
    else: return dir

main_dir = parent_dir(code_dir,1)
input_dir = main_dir + r'\Input'
interim_dir = main_dir + r'\Interim'
output_dir = main_dir + r'\Output'
util_dir = main_dir + r'\Utilities'
log_dir = main_dir + r'\Log'

print('Paths:')
print('Main: {}'.format(main_dir))
print('Input: {}'.format(input_dir))
print('Interim: {}'.format(interim_dir))
print('Output: {}'.format(output_dir))
print('Utilities: {}'.format(util_dir))
print('Log: {}'.format(log_dir))

Paths:
Main: D:\Projects\GRE_WORD_TOOL\Project
Input: D:\Projects\GRE_WORD_TOOL\Project\Input
Interim: D:\Projects\GRE_WORD_TOOL\Project\Interim
Output: D:\Projects\GRE_WORD_TOOL\Project\Output
Utilities: D:\Projects\GRE_WORD_TOOL\Project\Utilities
Log: D:\Projects\GRE_WORD_TOOL\Project\Log

## Modules LIB

In [3]:
# Modules
sys.path.insert(0,main_dir)
sys.path.insert(0,util_dir)

from Utilities import *
os.chdir(input_dir)

df_tools imported.

## IMPORT

In [16]:
def isopp(s):
    if s.find('opposite') != -1: return 'Y'
    else: return 'N'
    
def opp_replace(s):
    new_s = s.replace(" (opposite)", "")
    return new_s.strip()

In [70]:
data_s = pyperclip.paste()
data = ast.literal_eval(data_s)

df_1 = pd.DataFrame.from_dict(data)

df = df_1.copy()
df['Opp'] = df['word'].apply(lambda x: isopp(x))
df['word'] = df['word'].apply(lambda x: opp_replace(x))
df = df[['Opp', 'word', 'meaning', 'example']]

df.to_clipboard(excel=True, sep=None, index=False, header=None)
df_tools.preview_df(df)

------------------
Top 5 rows:

,Opp,word,meaning,example
0,N,HOMOGENEITY,consisting of things or people that are all th...,Cultural homogeneity is created by education a...
1,N,UNIFORMITY,being similar,The new Saudi prince is dishing out new reform...
2,Y,HETEROGENEITY,different,India is a great nation not only because of th...

Columns: 4
Opp, word, meaning, example

#Rows: 3
------------------

In [101]:
# df_collated_group = pd.DataFrame()

In [105]:
data_s = pyperclip.paste()
data = ast.literal_eval(data_s)

df_1 = pd.DataFrame.from_dict(data)

df_group = df_1.copy()
df_group = df_group.rename(columns = {'id': 'groupID', 'group': 'Category'})
df_group = df_group[['groupID', 'listID', 'Category']].drop_duplicates().reset_index(drop = True)
df_group = df_group[~(df_group['Category'].isna())]

df_collated_group = df_collated_group.append(df_group, ignore_index = True)
df_collated_group = df_collated_group.drop_duplicates().reset_index(drop = True)

df_tools.preview_df(df_group)
df_tools.preview_df(df_collated_group)

------------------
Top 5 rows:

  groupID listID                     Category
0      56      4                  SHORT-LIVED
1      57      4        NEVER ENDING/NON STOP
2      58      4                     END/STOP
3      59      4      IRREGULAR/ PERIODICALLY
4      60      4  CALM DOWN (+) (make better)

Columns: 3
groupID, listID, Category

#Rows: 16
------------------

------------------
Top 5 rows:

  groupID listID                     Category
0      56      4                  SHORT-LIVED
1      57      4        NEVER ENDING/NON STOP
2      58      4                     END/STOP
3      59      4      IRREGULAR/ PERIODICALLY
4      60      4  CALM DOWN (+) (make better)

Columns: 3
groupID, listID, Category

#Rows: 16
------------------

In [99]:
# df_collated_word = pd.DataFrame()

In [123]:
data_s = pyperclip.paste()
data = ast.literal_eval(data_s)

df_1 = pd.DataFrame.from_dict(data)

df_word = df_1.copy()

df_word['Opp'] = df_word['word'].apply(lambda x: isopp(x))
df_word['word'] = df_word['word'].apply(lambda x: opp_replace(x))

df_word = df_word[['id','groupID','Opp', 'word', 'meaning', 'example']]
df_word = df_word.drop_duplicates().reset_index(drop=True)
df_word = df_word[~(df_word['word'].isna())]

df_collated_word = df_collated_word.append(df_word, ignore_index = True, sort = False)
df_collated_word = df_collated_word.drop_duplicates().reset_index(drop=True)

df_tools.preview_df(df_word)
df_tools.preview_df(df_collated_word)

------------------
Top 5 rows:

,id,groupID,Opp,word,meaning,example
0,1875,292,N,AFFILIATED,related,"When Travis completed his time in prison, he c..."
1,1876,292,N,KINDRED,related,My husband and I were brought together by our ...

Columns: 6
id, groupID, Opp, word, meaning, example

#Rows: 2
------------------

------------------
Top 5 rows:

,id,groupID,Opp,word,meaning,example
0,391,56,N,EPHEMERAL,lasting for a short time,Capturing those ephemeral images has been a ch...
1,392,56,N,EVANESCENT,lasting for a short time,When compared with the timelessness of the uni...
2,393,56,N,FLEETING,lasting for a short time,I had a fleeting desire to jump into the cool ...
3,394,56,N,TRANSIENT,temporary,These are short term transient benefits at the...
4,395,56,N,TRANSITORY,temporary,A transitory panic struck me when I realized t...

Columns: 6
id, groupID, Opp, word, meaning, example

#Rows: 149
------------------

In [86]:
## PROCESS

In [127]:
df = df_collated_group.copy()
df = pd.merge(df, df_collated_word, how='left', on ='groupID')

df['listID'] = df['listID'].apply(lambda x: int(x))
df['groupID'] = df['groupID'].apply(lambda x: int(x))
df['id'] = df['id'].apply(lambda x: int(x))

df = df.sort_values(by=['listID', 'groupID', 'id', 'word'], ascending=[True, True, True, True])
df = df[['Category', 'Opp', 'word', 'meaning', 'example']]

df.to_clipboard(excel=True, sep=None, index=False, header=None)
df_tools.preview_df(df)

------------------
Top 5 rows:

,Category,Opp,word,meaning,example
0,SHORT-LIVED,N,EPHEMERAL,lasting for a short time,Capturing those ephemeral images has been a ch...
1,SHORT-LIVED,N,EVANESCENT,lasting for a short time,When compared with the timelessness of the uni...
2,SHORT-LIVED,N,FLEETING,lasting for a short time,I had a fleeting desire to jump into the cool ...
3,SHORT-LIVED,N,TRANSIENT,temporary,These are short term transient benefits at the...
4,SHORT-LIVED,N,TRANSITORY,temporary,A transitory panic struck me when I realized t...

Columns: 5
Category, Opp, word, meaning, example

#Rows: 149
------------------

In [233]:
class jumb_vocab:
    df_collated_group = pd.DataFrame()
    df_collated_word = pd.DataFrame()
    df_collated_word_group = pd.DataFrame()
    
    def __init__(self):
        self.df_collated_group = pd.DataFrame()
        self.df_collated_word = pd.DataFrame()
        self.df_collated_word_group = pd.DataFrame()
    
    def fetch_from_clipboard(self):
        data_s = pyperclip.paste()
        data = ast.literal_eval(data_s)

        df_1 = pd.DataFrame.from_dict(data)
        return df_1
    
    def update_group_table(self):
        df_group = self.fetch_from_clipboard()
        df_group = df_group.rename(columns = {'id': 'groupID', 'group': 'Category'})
        df_group = df_group[['groupID', 'listID', 'Category']].drop_duplicates().reset_index(drop = True)
        df_group = df_group[~(df_group['Category'].isna())]

        self.df_collated_group = self.df_collated_group.append(df_group, ignore_index = True)
        self.df_collated_group = self.df_collated_group.drop_duplicates().reset_index(drop = True)

        df_tools.preview_df(df_group)
        df_tools.preview_df(self.df_collated_group)
        
        
    def update_word_table(self):
        df_word = self.fetch_from_clipboard()

        df_word['Opp'] = df_word['word'].apply(lambda x: isopp(x))
        df_word['word'] = df_word['word'].apply(lambda x: opp_replace(x))

        df_word = df_word[['id','groupID','Opp', 'word', 'meaning', 'example']]
        df_word = df_word.drop_duplicates().reset_index(drop=True)
        df_word = df_word[~(df_word['word'].isna())]

        self.df_collated_word = self.df_collated_word.append(df_word, ignore_index = True, sort = False)
        self.df_collated_word = self.df_collated_word.drop_duplicates().reset_index(drop=True)

        df_tools.preview_df(df_word)
        df_tools.preview_df(self.df_collated_word)
    
    def int_val(self, x):
        if x is not None and type(x) is str : return int(x)
        else: return 0
    
    def process_table(self):
        df = self.df_collated_group.copy()
        df = pd.merge(df, self.df_collated_word, how='left', on ='groupID')

        df['listID'] = df['listID'].apply(lambda x: self.int_val(x))
        df['groupID'] = df['groupID'].apply(lambda x: self.int_val(x))
        df['id'] = df['id'].apply(lambda x: self.int_val(x))

        df = df.sort_values(by=['listID', 'groupID', 'id', 'word'], ascending=[True, True, True, True])
        self.df_collated_word_group = df.copy()
        self.check_missing()
        print('Data Processed')
    
    def check_missing(self):
        df_missing = self.df_collated_word_group.copy()
        df_missing = df_missing[df_missing['word'].isna()]
        
        if df_missing.shape[0] >0: 
            print('Word Missing for the below Category')
            df_tools.preview_df(df_missing[['listID', 'groupID', 'Category']])
        else:
            print('All Categories are present')
        
    def copy_process_table(self):
        self.check_missing()
        df = self.df_collated_word_group[['Category', 'Opp', 'word', 'meaning', 'example']]

        df.to_clipboard(excel=True, sep=None, index=False, header=None)
        df_tools.preview_df(df)
    
    def export_pickle(self, out_file):
        export_dict = {'Collated_Group': self.df_collated_group
                       , 'Collated_Word': self.df_collated_word
                       , 'Collated_Word_Group': self.df_collated_word_group}
        
        with open(out_file, 'wb') as handle:
            pickle.dump(export_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)
            
        print('Export successful!')
    
    
    def import_pickle(self, import_file):
        with open(import_file, 'rb') as handle:
            import_dict = pickle.load(handle)
            
        self.df_collated_group = import_dict['Collated_Group']
        self.df_collated_word = import_dict['Collated_Word']
        self.df_collated_word_group = import_dict['Collated_Word_Group']
        
        print('Import successful!')

In [234]:
vocab = jumb_vocab()
vocab.df_collated_group = df_collated_group
vocab.df_collated_word = df_collated_word
vocab.process_table()
vocab.copy_process_table()

Word Missing for the below Category
------------------
Top 5 rows:

     listID  groupID                      Category
425       7      111  JUST BEGINNING OR DEVELOPING
426       7      112                   EXPERIENCED
427       7      113                        EXPERT
428       7      114                       SUMMARY
429       7      115                FEELING GUILTY

Columns: 3
listID, groupID, Category

#Rows: 22
------------------

Data Processed
Word Missing for the below Category
------------------
Top 5 rows:

     listID  groupID                      Category
425       7      111  JUST BEGINNING OR DEVELOPING
426       7      112                   EXPERIENCED
427       7      113                        EXPERT
428       7      114                       SUMMARY
429       7      115                FEELING GUILTY

Columns: 3
listID, groupID, Category

#Rows: 22
------------------

------------------
Top 5 rows:

,Category,Opp,word,meaning,example
0,SHORT-LIVED,N,EPHEMERAL,lasting for a short time,Capturing those ephemeral images has been a ch...
1,SHORT-LIVED,N,EVANESCENT,lasting for a short time,When compared with the timelessness of the uni...
2,SHORT-LIVED,N,FLEETING,lasting for a short time,I had a fleeting desire to jump into the cool ...
3,SHORT-LIVED,N,TRANSIENT,temporary,These are short term transient benefits at the...
4,SHORT-LIVED,N,TRANSITORY,temporary,A transitory panic struck me when I realized t...

Columns: 5
Category, Opp, word, meaning, example

#Rows: 447
------------------

In [413]:
vocab.update_group_table()

------------------
Top 5 rows:

  groupID listID             Category
0     264     14   HARSH/BITING/SHARP
1     265     14         VILLAGE-LIKE
2     266     14              REVENGE
3     267     14        AFTER EFFECTS
4     268     14  SPIRITUAL/X EARTHLY

Columns: 3
groupID, listID, Category

#Rows: 21
------------------

------------------
Top 5 rows:

  groupID listID                     Category
0      56      4                  SHORT-LIVED
1      57      4        NEVER ENDING/NON STOP
2      58      4                     END/STOP
3      59      4      IRREGULAR/ PERIODICALLY
4      60      4  CALM DOWN (+) (make better)

Columns: 3
groupID, listID, Category

#Rows: 242
------------------

In [435]:
vocab.update_word_table()

------------------
Top 5 rows:

,id,groupID,Opp,word,meaning,example
0,1819,312,N,VICARIOUS,felt or experienced by watching or reading abo...,He got a <strong>vicarious</strong> thrill out...

Columns: 6
id, groupID, Opp, word, meaning, example

#Rows: 1
------------------

------------------
Top 5 rows:

,id,groupID,Opp,word,meaning,example
0,391,56,N,EPHEMERAL,lasting for a short time,Capturing those ephemeral images has been a ch...
1,392,56,N,EVANESCENT,lasting for a short time,When compared with the timelessness of the uni...
2,393,56,N,FLEETING,lasting for a short time,I had a fleeting desire to jump into the cool ...
3,394,56,N,TRANSIENT,temporary,These are short term transient benefits at the...
4,395,56,N,TRANSITORY,temporary,A transitory panic struck me when I realized t...

Columns: 6
id, groupID, Opp, word, meaning, example

#Rows: 1449
------------------

In [ ]:
vocab.update_word_table()

In [ ]:
vocab.update_word_table()

In [ ]:
vocab.update_word_table()

In [ ]:
vocab.update_word_table()

In [ ]:
vocab.update_word_table()

In [ ]:
vocab.update_word_table()

In [ ]:
vocab.update_word_table()

In [ ]:
vocab.update_word_table()

In [ ]:
vocab.update_word_table()

In [ ]:
vocab.update_word_table()

In [ ]:
vocab.update_word_table()

In [436]:
vocab.process_table()
vocab.copy_process_table()

All Categories are present
Data Processed
All Categories are present
------------------
Top 5 rows:

,Category,Opp,word,meaning,example
0,SHORT-LIVED,N,EPHEMERAL,lasting for a short time,Capturing those ephemeral images has been a ch...
1,SHORT-LIVED,N,EVANESCENT,lasting for a short time,When compared with the timelessness of the uni...
2,SHORT-LIVED,N,FLEETING,lasting for a short time,I had a fleeting desire to jump into the cool ...
3,SHORT-LIVED,N,TRANSIENT,temporary,These are short term transient benefits at the...
4,SHORT-LIVED,N,TRANSITORY,temporary,A transitory panic struck me when I realized t...

Columns: 5
Category, Opp, word, meaning, example

#Rows: 1449
------------------

In [437]:
# saving
os.chdir(interim_dir)

vocab.export_pickle('JUMB_VOCAB_{}.pickle'.format(4))

Export successful!

In [201]:
df_collated_group = vocab.df_collated_group
df_collated_word = vocab.df_collated_word